<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>1.怎样参加全民夺宝？</string>
		<key>detail</key>
		<array>
			<dict>
				<key>content</key>
				<string>在融托金融APP上进行注册登录，就可以参加全民夺宝了。全民夺宝，简而言之，便是通过众筹的方式，选择最幸运的用户独得商品，比如价值100元产品，分成100人次，每人注资1夺宝币，便有1%几率获得商品，同时可以增加注资币数，增加夺宝几率，比如20枚币，即有20%机会。但个人投币数，不得超过总币数的50%。

参与方式：

 A。注册成功即可获得夺宝币5枚，同时可以参加积分兑换、邀请好友、转发信息等方式免费获得夺宝币；除此之外可以通过购买的方式获得夺宝币，1元兑换1枚，微信支付宝均可支付。一枚夺宝币，对应1人次购买机会。可在优商城进行积分兑换和购买。

B。点击一个感兴趣的商品，选择要参与的人次并支付，即可参加。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>2.什么是夺宝币？</string>
		<key>detail</key>
		<array>
			<dict>
				<key>content</key>
				<string>夺宝币是积分夺宝的代币，用户每花费1元即可获得1个夺宝币； 1个夺宝币可以直接购买1个夺宝号码。同时还可以参加活动获得——

①注册成功即可获得5枚夺宝币；

 ②融米积分兑换100:1，即原有100积分，可兑换1枚夺宝币；

③注资活动专标，每充值1000元，送一枚夺宝币，单次存入上限10币；

④转发活动页面至微信朋友圈，可抽取5-10积分，最高获得夺宝币1枚（每天限领3次）

⑤邀请好友注册成功，并开通汇付，可兑换5枚夺宝币，不限次数。

⑥夺宝币无法提现。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>3.全民夺宝是怎样计算幸运号码的？</string>
		<key>detail</key>
		<array>
			<dict>
				<key>content</key>
				<string>a、商品的最后一个号码分配完毕后，将公示该分配时间点前本站全部商品的最后20个参与时间； 

b、将这20个时间的数值进行求和（得出数值A）（每个时间按时、分、秒、毫秒的顺序组合，如20:15:25.362则为201525362）；

c、为保证公开、公平、公正，系统还会等待一小段时间，取最近下一期中国福利彩票“老时时彩”的揭晓结果（一个五位数值B）； 

d、（数值A+数值B）除以该商品总需人次得到的余数 + 原始数 10001，得到最终幸运号码，拥有该幸运号码者，直接获得该商品。 

注：最后一个号码认购时间距离“老时时彩”最近下一期揭晓大于24小时，默认“老时时彩”揭晓结果为00000。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>4.幸运号码的计算结果可信吗？</string>
		<key>detail</key>
		<array>
			<dict>
				<key>content</key>
				<string>由于使用了“老时时彩”揭晓结果作为参数，因此幸运号码肯定是未知的，确保绝对公平公正，您可以绝对相信计算结果真实、可信。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>5. 怎样查看是否成为幸运用户？如何领取幸运商品？</string>
		<key>detail</key>
		<array>
			<dict>
				<key>content</key>
				<string>个人中心有您的夺宝记录，点击对应的记录，即可知道该期夺宝的获得者；

如果您成为幸运用户，会收到电子邮件通知，如果验证了手机，还会有短信通知；

收到通知后，请在7天内到个人中心填写真实的收货地址，完善或确认您的个人信息，以便我们为您派发获得的商品。 逾期不填写具体信息，订单作废。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>6.商品是正品吗？如何保证？</string>
		<key>detail</key>
		<array>
			<dict>
				<key>content</key>
				<string>全民夺宝所有商品均从正规渠道采购，100%正品，可享受厂家所提供的全国联保服务。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>7.收到的商品可以退换货吗？</string>
		<key>detail</key>
		<array>
			<dict>
				<key>content</key>
				<string>本次活动为折扣商品，拍前请您看好款式、尺码、颜色等，一经付款，不给予退换货。</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
