<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>1</key>
		<string>13.02112</string>
		<key>2</key>
		<string>28.13543</string>
		<key>3</key>
		<string>45.67945</string>
		<key>4</key>
		<string>66.04374</string>
		<key>5</key>
		<string>89.68169</string>
		<key>6</key>
		<string>117.11954</string>
		<key>7</key>
		<string>148.96815</string>
		<key>8</key>
		<string>185.93657</string>
		<key>9</key>
		<string>228.84783</string>
		<key>10</key>
		<string>278.65727</string>
		<key>11</key>
		<string>336.4738</string>
		<key>12</key>
		<string>403.5846</string>
		<key>13</key>
		<string>481.48377</string>
		<key>14</key>
		<string>571.90557</string>
		<key>15</key>
		<string>676.86309</string>
		<key>16</key>
		<string>798.69301</string>
		<key>17</key>
		<string>940.10463</string>
		<key>18</key>
		<string>1104.2553</string>
		<key>19</key>
		<string>1294.79045</string>
		<key>20</key>
		<string>1515.95497</string>
		<key>21</key>
		<string>1772.6727</string>
		<key>22</key>
		<string>2070.65896</string>
		<key>23</key>
		<string>2416.54786</string>
		<key>24</key>
		<string>2818.03996</string>
		<key>25</key>
		<string>3284.07373</string>
		<key>26</key>
		<string>3825.02454</string>
		<key>27</key>
		<string>4452.93563</string>
		<key>28</key>
		<string>5181.78627</string>
		<key>29</key>
		<string>6027.80294</string>
		<key>30</key>
		<string>7009.82061</string>
	</dict>
</dict>
</plist>
